:root{

--cor-mesa:purple;
--face-dado:black;
--bola:pink ;

}
{
  margin:0;
  padding:0;
}
.mesa{
  width: 100%;
  height: 200px;
  background-color: black--cor mesa ;
}
.face{
  background-color: black;
  height: 120px;
  width: 120px;
}